<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549474370704-69mnu7h0t9o3t26mh3ejak2mitfn31ov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549474370704-69mnu7h0t9o3t26mh3ejak2mitfn31ov</string>
	<key>API_KEY</key>
	<string>AIzaSyBkHcidGnwLDMLUB8BjgbNNLv6rtYrQBrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>549474370704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waiyanminkhant.xybertracker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kyat-keeper</string>
	<key>STORAGE_BUCKET</key>
	<string>kyat-keeper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549474370704:ios:c4fdee71a2a07b20ee4415</string>
</dict>
</plist>